<h1>Необходимо войти в систему под своей учетной записью</h1>
<p>Пожалуйста, авторизуйтесь</p>

<%- if flash[:error] %>
<div class='alert alert-danger'><%= flash[:error] %></div>
<% end %>

<%= form_for :session, url: sessions_path do |f| %>
  <div class='form-group'>
    <%= f.label :Логин %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Логин' %>
  </div>
  <div class='form-group'>
    <%= f.label :Пароль %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Пароль' %>
  </div>
  <div class='form-group'>
    <%= f.submit 'Войти', class: 'btn btn-primary' %>
  </div>
<% end %>
<!-- Для того, чтобы закрыть регистрацию новых админстких аккаунтов, необходимо
 удалить ссирки, ниже этого коментария  -->
<p class='mt-2'>
  <%= link_to 'Создать новый аккаунт', new_user_path %>
</p>