 <p id="notice"><%= notice %></p>
<% if session[:isadmin] %>
<p>
<%= link_to 'Добавить город', new_city_path, class: "btn btn-lg btn-primary" %>
</p>
<% end %>
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<table class="table table-striped">

<% @cities.each do |f| %>
<tr>
<td>
  <%= link_to f.name, f %>
</td>
</tr>
<% end %>
</table>
</div>
</div>
</div>