<!-- 
todo:
- Не работает вывод валидации
- Привести фронтенд к нормальному виду
- Не загружается карта с первого раза. Только после обновления страницы
- !!! Вывод названия города из карты, запись названия в slug(Латинское название города)
     -->

<p id="notice"><%= notice %></p>


<%= form_with(model: @city, remote: true) do |f| %>


<% if @city.errors.any? %>
<div id="error_explanation">
<h2><%= plurilize(@city.errors.count, "error") %></h2>

<ul>
<% @city.errors.full_messages.each do |message| %>
<li> <%= message %> </li>
<% end %>
</ul>
</div>
<% end %>

  <%= f.text_field :name  %>
  <%= f.hidden_field :slug %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lon %>
  <%= f.submit "Добавить город" %>
<% end %>
<button id="show_map">Показать карту</button>
<body>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>



<script src="https://api-maps.yandex.ru/2.1/?apikey<dcdc212d-82f3-487e-840d-80db4d33c8a2>&lang=ru_RU" type="text/javascript"></script>
 
    



	<style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
    </style>


<script type="text/javascript">
$("#show_map").on('click', function(){
location.reload();

});
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
document.addEventListener("turbolinks:load", function () {

    ymaps.ready(init);
    function init() {
    myMap = new ymaps.Map("map", {
        center: [57.5262, 38.3061], // Углич
        zoom: 11
    }, {
        balloonMaxWidth: 200,
        searchControlProvider: 'yandex#search'
    });

    // Обработка события, возникающего при щелчке
    // левой кнопкой мыши в любой точке карты.
    // При возникновении такого события откроем балун.
    myMap.events.add('click', function (e) {
        if (!myMap.balloon.isOpen()) {
            var coords = e.get('coords');
                $("#city_lat").val(coords[0].toPrecision(6));
                $("#city_lon").val(coords[1].toPrecision(6));

            myMap.balloon.open(coords, {
                contentHeader:'Событие!',
                contentBody:'<p>Координаты города: ' + [
                    coords[0].toPrecision(6),
                    coords[1].toPrecision(6)
                    ].join(', ') + '</p>',
                contentFooter:'<sup>Щелкните еще раз</sup>'
            });
        }
        else {
            myMap.balloon.close();
        }
    });

    
    myMap.events.add('contextmenu', function (e) {
        myMap.hint.open(e.get('coords'), 'Кто-то щелкнул правой кнопкой');
    });
    
    // Скрываем хинт при открытии балуна.
    myMap.events.add('balloonopen', function (e) {
        myMap.hint.close();
    });
    
}
});
</script>


